<header> 
    <nav id="nav-bar">     
        <ul>
            <li >
                <button class="button-glitch"><h1 class = 'title'>Sala de juegos</h1></button>
            </li>
            <li>
                <button id="button-navbar" routerLink="/home" routerLinkActive="active-route">Home</button>
            </li>
            <li>
                <button id="button-navbar" routerLink="/quien-soy" routerLinkActive="active-route">Quien soy</button>
            </li>
            <li>
                <button id="button-navbar" routerLink="/pacman" routerLinkActive="active-route">Pac-man</button>
            </li>
        </ul>
    </nav>
</header>

<div id="container">
    <div id="div-uno" class="border-slate-400\/10">
        <div>
            <h1 class="">
                Joaquin Dominguez
                <br>
                Frontend Junior
            </h1>
            <a class = "enlaces" target="_blank" href = "https://www.linkedin.com/in/joaquin-dominguez-56b27a264/"> <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png" class ="img-presentacion"><span class ="texto-presentacion">Linkedin</span> </a> 
            <a class = "enlaces" target="_blank" href = "https://github.com/joacoox"><img src = "https://cdn.icon-icons.com/icons2/1826/PNG/512/4202098codedevelopergithublogo-115590_115711.png" class ="img-presentacion"><span class ="texto-presentacion">Github</span></a>
            <p class ="texto-presentacion">Estudiante de una Tecnicatura en Programacion y Sistemas en la UTN, apasionado por la programacion, los juegos y el entrenamiento :)</p>
        </div>
        <div>
          <img src="">  <a> </a>
        </div>
    </div>
    <div id="div-tres" class="border-slate-400\/10">
        <img src="../../assets/foto-joaco.jpg" alt="foto-joaco" height="600px">
    </div>
    <div id="div-dos" class="border-slate-400\/10">
        <h2>Argentino</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/640px-Flag_of_Argentina.svg.png" height="100px">
    </div>
    <div id="div-cuatro" class="border-slate-400\/10">
        <h2>Tecnologias</h2>
        <div>
            <div id="container-tecnologias" class="container-tecnologias">
                <div id="tecnologia-uno" class="tecnologia-uno tecnologia">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1024px-Angular_full_color_logo.svg.png" class ="img-tec">
                    <span>Angular</span>
                </div>
                <div id="tecnologia-dos" class="tecnologia-dos tecnologia">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png" class ="img-tec">
                    <span>TypeScript</span>
                </div>
                <div id="tecnologia-tres" class="tecnologia-tres tecnologia">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png" class ="img-tec">
                    <span>Php</span>
                </div>
                <div id="tecnologia-cuatro" class="tecnologia-cuatro tecnologia">
                    <img src="https://www.bigbaydata.com/wp-content/uploads/2022/11/sql_ejercicios.png" class ="img-tec">
                    <span>Sql</span>
                </div>
                <div id="tecnologia-cinco" class="tecnologia-cinco tecnologia">
                    <img src="https://w7.pngwing.com/pngs/201/90/png-transparent-logo-html-html5-thumbnail.png" class ="img-tec">
                    <span>Html</span>
                </div>
                <div id="tecnologia-seis" class="tecnologia-seis tecnologia">
                    <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png" class ="img-tec">
                    <span>Css</span>
                </div>
                <div id="tecnologia-siete" class="tecnologia-siete tecnologia">
                    <img src="https://yt3.googleusercontent.com/_q52i8bUAEvcb7JR4e-eNTv23y2A_wg5sCz0NC0GrGtcw1CRMWJSOPVHUDh_bngD0q4gMvVeoA=s900-c-k-c0x00ffffff-no-rj" class ="img-tec">
                    <span>Visual Studio Code</span>
                </div>
                <div id="tecnologia-ocho" class="tecnologia-ocho tecnologia">
                </div>
              </div>
        </div>
    </div>
    <div id="div-cinco" class="border-slate-400\/10">
        
    </div>
    <div id="div-seis" class="border-slate-400\/10">
        
    </div>
</div>
