
.container {  
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 1fr 1.1fr 0.9fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    max-width: 1400px;
    margin: auto;
    color: white;
  }
  
  .div-uno { grid-area: 1 / 1 / 2 / 3; }
  
  .div-tres { grid-area: 1 / 3 / 3 / 4; }
  
  .div-dos { grid-area: 2 / 1 / 3 / 2; }
  
  .div-cuatro { grid-area: 2 / 2 / 3 / 3; }
  
  .div-cinco { grid-area: 3 / 1 / 4 / 3; }
  
  .div-seis { grid-area: 3 / 3 / 4 / 4; }

  .container-tecnologias {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
.div-uno,
.div-dos,
.div-tres,
.div-cuatro,
.div-cinco,
.div-seis {
    border: 2px solid #4B0082; 
    box-shadow: 0 0 10px rgba(75,0,130,0.5); 
    padding: 20px;
}
  .tecnologia-uno { grid-area: 1 / 1 / 2 / 2; }
  
  .tecnologia-dos { grid-area: 1 / 2 / 2 / 3; }
  
  .tecnologia-tres { grid-area: 1 / 3 / 2 / 4; }
  
  .tecnologia-cuatro { grid-area: 1 / 4 / 2 / 5; }
  
  .tecnologia-cinco { grid-area: 2 / 1 / 3 / 2; }
  
  .tecnologia-seis { grid-area: 2 / 2 / 3 / 3; }
  
  .tecnologia-siete { grid-area: 2 / 3 / 3 / 4; }
  
  .tecnologia-ocho { grid-area: 2 / 4 / 3 / 5; }
  
  .img-tec{
    max-width: 50px;
    margin-bottom: 10px; 
  }
  
  .tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-radial-gradient-farthest {
  background-image: radial-gradient(circle farthest-side at 50% 110%,#581763a1,rgba(84,61,199,0));
}

.border-slate-400\/10 {
  border-color: rgba(148,163,184,.1);
}
.img-presentacion{
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
.texto-presentacion{
  color: rgb(203, 199, 199);
}

.div-dos {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.div-dos h2 {
  margin-bottom: 10px; 
}
.flecha-atras{
  margin:5px
}
.boton-flecha{
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
