<app-navbar>

</app-navbar>
<div *ngIf="!gameOver">
  <h2>Carta actual</h2>
  <img *ngIf="currentCard" [src]="currentCard.image" [alt]="currentCard.code">
  <div>
    <button class = "btn" (click)="guessHigher()">Mayor</button>
    <button class = "btn" (click)="guessLower()">Menor</button>
  </div>
  <h2 class ="texto-blanco">Puntos: {{ score }}</h2>
  <h2 class ="texto-blanco">Vidas: {{lives}}</h2>
</div>
<div *ngIf="gameOver">
  <h2 class ="texto-blanco">Perdiste!</h2>
  <p class ="texto-blanco">Tu puntaje es final: {{ score }}</p>
  <button (click)="resetGame()" class = "btn">Jugar de nuevo</button>
</div>
