<header> 
    <nav id="nav-bar">     
        <ul>
            <li >
                <button class="button-glitch"><h1 class = 'title'>Sala de juegos</h1></button>
            </li>
            <li>
                <button id="button-navbar" routerLink="/home" routerLinkActive="active-route">Home</button>
            </li>
            <li>
                <button id="button-navbar" routerLink="/quien-soy" routerLinkActive="active-route">Quien soy</button>
            </li>
            <li>
                <button id="button-navbar" routerLink="/pacman" routerLinkActive="active-route">Pac-man</button>
            </li>
        </ul>
    </nav>
</header>

<canvas id ="canvasId" #canvasRef>


</canvas>
