/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    font-family: 'Libre Baskerville', serif;
}
:root {
--background-start-rgb: #0c090bf6; 
}
  
body {
background-color: var(--background-start-rgb); 
}
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    
}
