

#container-wrapper {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}

#container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
gap: 0px 20px;
width: 1600px;
max-width: 100%; 
}

#div-uno { grid-area: 1 / 1 / 2 / 2; }
#div-dos { grid-area: 1 / 2 / 2 / 3; }
#div-tres { grid-area: 1 / 3 / 2 / 4; }
#div-cuatro { grid-area: 1 / 4 / 2 / 5; } 

.card {
width: 385px;
height: 400px;
background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
border-radius: 20px;
transition: all .3s;
}
 
.card2 {
width: 385px;
height: 400px;
background-color: #1a1a1a;
transition: all .2s;
}
 
.card2:hover {
transform: scale(0.98);
border-radius: 20px;
}
 
.card:hover {
box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

#carrusel-main {
width: 1600px;
height: 800px;
margin: auto;
padding-top: 15px;
padding-bottom: 15px;
overflow: hidden;
display: flex;
align-items: center;
}

#carrusel-main img {
width: 100%;
height: 100%;
object-fit: cover;
opacity: 1;
transition: transform 0.5s ease;
}

.imagen-zoom {
transition: transform 0.3s ease; 
}

.imagen-zoom:hover {
transform: scale(1.1); 
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white; 
    font-size: 24px; 
    padding: 10px;
}

.prev-btn {
    left: 5px;
}

.next-btn {
    right: 5px;
}


 
