<app-navbar>

</app-navbar>



<div id="carrusel-main">        
    <button class="prev-btn" (click)="changeImage('previous')">&#10094;</button>
    <img src="../../assets/salon de juegos.jpg" id="carrusel-foto" class="imagen-zoom" alt="carrusel imagenes">
    <button class="next-btn" (click)="changeImage('next')">&#10095;</button>
</div>

<div class = "contenedor-span"><span class="span">Juegos</span> </div>
 
<div id="container-wrapper">
 
    <div id="container">
        <div id="div-uno">
            <div class="card">
                <div class="card2" (click)="goTo('preguntados')">
                    <img src = "../../assets/preguntados.png" id = "img-tarjetas">
                </div>
            </div>
        </div>
        <div id="div-dos">
            <div class="card">
                <div class="card2" (click)="goTo('ahorcado')">
                    <img src = "../../assets/ahorcado.png" id = "img-tarjetas">
                </div>
              </div>
        </div>
        <div id="div-tres">
            <div class="card">
                <div class="card2" (click)="goTo('mayoromenor')">
                    <img src = "../../assets/mayor_o_menor.png" id = "img-tarjetas"> 
                </div>
              </div>
        </div>
        <div id="div-cuatro">
            <div class="card">
                <div class="card2" (click)="goTo('sudoku')">     
                    <img src = "../../assets/sudoku.avif" id = "img-tarjetas">           
                </div>
            </div>
        </div>
    </div>
</div>

<div id = "contenedor-chat">
    <div class="chat">
        <div class="chat-header">Chat</div>
        <div class="chat-window">
            <ul class="chat-list">
                <li id="li-chat" *ngFor="let chat of chatCollection; index as i;">
                    <span class="sent" *ngIf="chat.user === auth.getUserEmail()">
                        <span>
                            {{ chat.mensaje }}<br>
                        </span>
                        <span class ="fecha">
                            {{formatDate(chat.fecha)}}
                        </span>
                    </span>
                        <span class="received" *ngIf="chat.user !== auth.getUserEmail()">
                            <span>{{ chat.user.split("@")[0] }}: 
                            </span>
                        <span>
                        {{ chat.mensaje }}<br>
                        <span class ="fecha">
                            {{formatDate(chat.fecha)}}
                        </span>
                    </span>
                </span>
                </li>                     
            </ul>
            
            
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" class="chat-input" placeholder="Type your message here">
            <button id="send-button" class="send-button" (click)="EnviarMensaje()">Send</button>
        </div>
    </div>   
</div>

